<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prateek.lifeberrys" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE."/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.read_external_storage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/lifeberrys"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScreenSlidePagerActivity"
            android:label="@string/title_activity_screen_slide_pager"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ArticlesList"
            android:label="@string/title_activity_articles_list"
            android:noHistory="false"
            android:parentActivityName=".ArticlesList"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
